<div id="<%= dom_id rate_plan %>">
  <div>
    <strong>Unit type:</strong>
    <%= rate_plan.unit_type_id %>
  </div>

  <div>
    <strong>Service schedule:</strong>
    <%= rate_plan.service_schedule %>
  </div>

  <div>
    <strong>Billing period:</strong>
    <%= rate_plan.billing_period %>
  </div>

  <div>
    <strong>Price cents:</strong>
    <%= rate_plan.price_cents %>
  </div>

  <div>
    <strong>Active:</strong>
    <%= rate_plan.active %>
  </div>

  <div>
    <strong>Effective on:</strong>
    <%= rate_plan.effective_on %>
  </div>

  <div>
    <strong>Expires on:</strong>
    <%= rate_plan.expires_on %>
  </div>

</div>
