<p style="color: green"><%= notice %></p>

<%= render @rate_plan %>

<div>
  <%= link_to "Edit this rate plan", edit_rate_plan_path(@rate_plan) %> |
  <%= link_to "Back to rate plans", rate_plans_path %>

  <%= button_to "Destroy this rate plan", @rate_plan, method: :delete %>
</div>
