<%= form_with(model: order) do |f| %>
  <% if order.errors.any? %>
    <div class="errors">
      <h2><%= pluralize(order.errors.count, "error") %> prevented this order from saving:</h2>
      <ul>
        <% order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :customer_id %><br>
    <%= f.collection_select :customer_id, Customer.all, :id, :company_name, include_blank: true %>
  </div>

  <div>
    <%= f.label :location_id %><br>
    <%= f.collection_select :location_id, Location.all, :id, :label, include_blank: true %>
  </div>

  <div>
    <%= f.label :external_reference, "Internal ref / PO #" %><br>
    <%= f.text_field :external_reference %>
  </div>

  <div>
    <%= f.label :status %><br>
    <%= f.select :status, Order::STATUSES %>
  </div>

  <div>
    <%= f.label :start_date %><br>
    <%= f.date_field :start_date %>
  </div>

  <div>
    <%= f.label :end_date %><br>
    <%= f.date_field :end_date %>
  </div>

  <fieldset>
  <legend>Units & service schedule</legend>

  <% schedule_options = [
    ["Weekly service (monthly)",   "weekly"],
    ["Biweekly service (monthly)", "biweekly"],
    ["Event only (deliver/pickup)", "event"]
  ] %>

  <% UnitType.all.each do |unit_type| %>
    <% qty_name      = "order[unit_type_requests][#{unit_type.id}][quantity]" %>
    <% sched_name    = "order[unit_type_requests][#{unit_type.id}][service_schedule]" %>

    <% qty_value =
         if params.dig(:order, :unit_type_requests, unit_type.id.to_s, :quantity)
           params.dig(:order, :unit_type_requests, unit_type.id.to_s, :quantity)
         elsif order.persisted?
           order.units.where(unit_type_id: unit_type.id).count
         else
           0
         end %>

    <% sched_value =
         if params.dig(:order, :unit_type_requests, unit_type.id.to_s, :service_schedule)
           params.dig(:order, :unit_type_requests, unit_type.id.to_s, :service_schedule)
         else
           "weekly"
         end %>

    <article class="compact">
      <header>
        <strong><%= unit_type.name %></strong>
      </header>

      <div class="grid">
        <div>
          <%= label_tag qty_name, "Quantity" %>
          <%= number_field_tag qty_name, qty_value, min: 0, step: 1 %>
        </div>

        <div>
          <%= label_tag sched_name, "Service schedule" %>
          <%= select_tag sched_name,
                         options_for_select(schedule_options, sched_value) %>
        </div>
      </div>
    </article>
  <% end %>

  <p><em>Pick a quantity and service schedule for each unit type.</em></p>
</fieldset>


  <div>
    <%= f.label :notes %><br>
    <%= f.text_area :notes, rows: 4 %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
