<div id="<%= dom_id order %>">
  <div>
    <strong>Customer:</strong>
    <%= order.customer_id %>
  </div>

  <div>
    <strong>Location:</strong>
    <%= order.location_id %>
  </div>

  <div>
    <strong>External reference:</strong>
    <%= order.external_reference %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= order.status %>
  </div>

  <div>
    <strong>Start date:</strong>
    <%= order.start_date %>
  </div>

  <div>
    <strong>End date:</strong>
    <%= order.end_date %>
  </div>

  <div>
    <strong>Rental subtotal cents:</strong>
    <%= order.rental_subtotal_cents %>
  </div>

  <div>
    <strong>Delivery fee cents:</strong>
    <%= order.delivery_fee_cents %>
  </div>

  <div>
    <strong>Pickup fee cents:</strong>
    <%= order.pickup_fee_cents %>
  </div>

  <div>
    <strong>Discount cents:</strong>
    <%= order.discount_cents %>
  </div>

  <div>
    <strong>Tax cents:</strong>
    <%= order.tax_cents %>
  </div>

  <div>
    <strong>Total cents:</strong>
    <%= order.total_cents %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= order.notes %>
  </div>

</div>
