<div id="<%= dom_id order_line_item %>">
  <div>
    <strong>Order:</strong>
    <%= order_line_item.order_id %>
  </div>

  <div>
    <strong>Unit type:</strong>
    <%= order_line_item.unit_type_id %>
  </div>

  <div>
    <strong>Rate plan:</strong>
    <%= order_line_item.rate_plan_id %>
  </div>

  <div>
    <strong>Service schedule:</strong>
    <%= order_line_item.service_schedule %>
  </div>

  <div>
    <strong>Billing period:</strong>
    <%= order_line_item.billing_period %>
  </div>

  <div>
    <strong>Quantity:</strong>
    <%= order_line_item.quantity %>
  </div>

  <div>
    <strong>Unit price cents:</strong>
    <%= order_line_item.unit_price_cents %>
  </div>

  <div>
    <strong>Subtotal cents:</strong>
    <%= order_line_item.subtotal_cents %>
  </div>

</div>
